{%extends 'base.html'%}

{%block content%}
<table class="table">
  <thead>
    <tr>
      <th scope="col" class="align-middle" width=20%>Title</th>
      <th scope="col" class="align-middle" width=19%>Authors</th>
      <th scope="col" class="align-middle" width=19%>Category</th>
      <th scope="col" class="align-middle" width=35%>Description</th>
      <th scope="col" class="align-middle" width=7%>
        <form method="post">
          <button type="submit" name ="addall" value="addall" class="btn btn-primary mb-2">Add all</button>
        </form>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for book in books%}
    <tr>
      <th scope="row">{{book[0]}}</th>
      <td>{{book[1]}}</td>
      <td>{{book[2]}}</td>
      <td class="text-justify">{{book[3]}}</td>
      <td class="align-middle">
      <form method="post">
          <button type="submit" name ="add" value={{book[4]}} class="btn btn-primary mb-2">Add</button>
      </form>
      <td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{%endblock%}
